In [2]:
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [3]:
df = pd.read_csv('small.csv')

In [4]:
cvec = CountVectorizer(stop_words='english')
cvec.fit(df['text'])
vec_df = pd.DataFrame(cvec.transform(df['text']).todense(),
                      columns = cvec.get_feature_names())

In [5]:
df.describe()

        Unnamed: 0      is_true     domestic
count  5000.000000  5000.000000  5000.000000
mean   3348.774000     0.198400     0.985200
std    1726.735452     0.398835     0.120764
min       0.000000     0.000000     0.000000
25%    1889.500000     0.000000     1.000000
50%    3460.500000     0.000000     1.000000
75%    4831.250000     0.000000     1.000000
max    6203.000000     1.000000     1.000000

Using [this resource](http://openbookproject.net/courses/python4fun/spellcheck.html) to do some spell checking

In [6]:
words = open("spellcheck.txt").readlines()
words = [word.strip() for word in words]

real_words = []

for i, col in enumerate(vec_df):
    if col in words:
        real_words.append(col)
    if i % 5000 == 0:
        print(i)
        
        
vec_df = vec_df[real_words]

0
5000
10000
15000
20000
25000
30000
35000
40000
45000

In [10]:
df.drop(columns = 'Unnamed: 0', inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"

In [11]:
df

,title,text,date,is_true,domestic
0,HILLARY RODHAM NIXON: A CANDIDATE WITH MORE BA...,The irony here isn t lost on us. Hillary is be...,2015-03-31,0,1
1,FLASHBACK: KING OBAMA COMMUTES SENTENCES OF 22...,Just making room for Hillary President Obama t...,2015-03-31,0,1
2,APPLE’S CEO SAYS RELIGIOUS FREEDOM LAWS ARE ‘D...,The gay mafia has a new corporate Don. This i...,2015-03-31,0,1
3,WATCH DIRTY HARRY REID ON HIS LIE ABOUT ROMNEY...,"In case you missed it Sen. Harry Reid (R-NV), ...",2015-03-31,0,1
4,OH NO! GUESS WHO FUNDED THE SHRINE TO TED KENNEDY,Nothing like political cronyism to make your s...,2015-03-31,0,1
...,...,...,...,...,...
4995,Sheriff Joe Arpaio Gets A Brutal Lesson In Wh...,When Jane Sanders visited one of known bigot a...,2016-03-18,0,1
4996,Former KKK Leader Very Excited For Trump To B...,"While on his radio show the other day, former ...",2016-03-18,0,1
4997,Oregon Takes In Jaw-Dropping Amount Of Tax Re...,One of the many benefits of legalizing the sal...,2016-03-18,0,1
4998,Alabama GOP Bill Would Ban Poor People From H...,"Once again, Republicans have found another cru...",2016-03-18,0,1
4999,Republican Lawmakers Helped Orchestrate The B...,These Republican politicians should be in jail...,2016-03-18,0,1

In [12]:
analyzer = SentimentIntensityAnalyzer()

df['title_sa_neg'] = 0
df['title_sa_pos'] = 0
df['title_sa_neu'] = 0
df['title_sa_compound'] = 0

df['text_sa_neg'] = 0
df['text_sa_pos'] = 0
df['text_sa_neu'] = 0
df['text_sa_compound'] = 0

for i, t in enumerate(df.title.values):
    vs = analyzer.polarity_scores(t)
    df.loc[i, 'title_sa_neg'] = vs['neg']
    df.loc[i, 'title_sa_pos'] = vs['pos']
    df.loc[i, 'title_sa_neu'] = vs['neu']
    df.loc[i, 'title_sa_compound'] = vs['compound']
    if (i % 1000) == 0:
        print(i)
        
        
for i, t in enumerate(df.text.values):
    vs = analyzer.polarity_scores(t)
    df.loc[i, 'text_sa_neg'] = vs['neg']
    df.loc[i, 'text_sa_pos'] = vs['pos']
    df.loc[i, 'vader_neu'] = vs['neu']
    df.loc[i, 'text_sa_neu'] = vs['compound']
    if (i % 1000) == 0:
        print(i)

0
1000
2000
3000
4000
0
1000
2000
3000
4000

In [13]:
df

,title,text,date,is_true,domestic,title_sa_neg,title_sa_pos,title_sa_neu,title_sa_compound,text_sa_neg,text_sa_pos,text_sa_neu,text_sa_compound,vader_neu
0,HILLARY RODHAM NIXON: A CANDIDATE WITH MORE BA...,The irony here isn t lost on us. Hillary is be...,2015-03-31,0,1,0.000,0.000,1.000,0.0000,0.070,0.125,0.9732,0,0.804
1,FLASHBACK: KING OBAMA COMMUTES SENTENCES OF 22...,Just making room for Hillary President Obama t...,2015-03-31,0,1,0.000,0.195,0.805,0.2342,0.125,0.096,-0.9970,0,0.779
2,APPLE’S CEO SAYS RELIGIOUS FREEDOM LAWS ARE ‘D...,The gay mafia has a new corporate Don. This i...,2015-03-31,0,1,0.000,0.129,0.871,0.4527,0.134,0.084,-0.9032,0,0.782
3,WATCH DIRTY HARRY REID ON HIS LIE ABOUT ROMNEY...,"In case you missed it Sen. Harry Reid (R-NV), ...",2015-03-31,0,1,0.147,0.193,0.660,0.2263,0.049,0.090,0.7526,0,0.861
4,OH NO! GUESS WHO FUNDED THE SHRINE TO TED KENNEDY,Nothing like political cronyism to make your s...,2015-03-31,0,1,0.000,0.000,1.000,0.0000,0.048,0.128,0.9903,0,0.824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Sheriff Joe Arpaio Gets A Brutal Lesson In Wh...,When Jane Sanders visited one of known bigot a...,2016-03-18,0,1,0.227,0.000,0.773,-0.6249,0.149,0.071,-0.9847,0,0.780
4996,Former KKK Leader Very Excited For Trump To B...,"While on his radio show the other day, former ...",2016-03-18,0,1,0.000,0.172,0.828,0.4005,0.085,0.152,0.9847,0,0.763
4997,Oregon Takes In Jaw-Dropping Amount Of Tax Re...,One of the many benefits of legalizing the sal...,2016-03-18,0,1,0.000,0.120,0.880,0.1280,0.024,0.053,0.8294,0,0.923
4998,Alabama GOP Bill Would Ban Poor People From H...,"Once again, Republicans have found another cru...",2016-03-18,0,1,0.324,0.000,0.676,-0.7717,0.108,0.062,-0.9834,0,0.830
4999,Republican Lawmakers Helped Orchestrate The B...,These Republican politicians should be in jail...,2016-03-18,0,1,0.262,0.000,0.738,-0.5994,0.088,0.077,-0.9433,0,0.834